import os

# Optionally, read listing URLS from an external JSON file
LISTING_URLS_JSON = ""

# Or hardcode URLS into this file
LISTING_URLS = ["https://portland.craigslist.org/search/sss?query=super+nintendo&sort=rel&hasPic=1&postedToday=1&search_distance=15&postal=97205"]

# How long we should sleep between scrapes of Craigslist in seconds
SLEEP_INTERVAL = 3 * 60 # 3 minutes

# Email Settings
SMTP_SERVER = "smtp.gmail.com"
SMTP_PORT = "587"
SMTP_USERNAME = "Your.Gmail.Address"
SMTP_PASSWORD = "Your.Gmail.Password"

# Email Recipient
EMAIL_RECIPIENTS = ["Your.Gmail.Address"]

# The token that allows us to connect to slack
SLACK_TOKEN = ""

# Which slack channel to post the listings into
SLACK_CHANNEL = ""

# Optional Dead Man's Snitch URL used for monitoring
DMS_URL = ""
